/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5rem;
    color: #333;
}

.pricing-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.package {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 350px;
    overflow: hidden;
    margin-bottom: 20px;
}

.package-header {
    background-color: #ffc107;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.package-title {
    margin: 0;
    font-size: 1.5rem;
}

.package-price {
    font-size: 1.2rem;
    margin: 10px 0;
}

.package-duration, .package-tax {
    font-size: 0.9rem;
}

.package-content {
    padding: 20px;
}

.section-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

.features-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.features-list li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}

/* .features-list li::before {
    content: '✓';
    position: absolute;
    left: 0;
    top: 0;
    color: #ffc107;
} */

.package-footer {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
}

.cta-button {
    background-color: #ffc107;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.cta-button:hover {
    background-color: #e0a800;
}

.tc-apply {
    font-size: 0.9rem;
    color: #777;
    margin-top: 10px;
}
.fa-check-circle{
    color: green;
}
.fa-circle-check {
    
    color: #61ce70;
}
.fa-circle-xmark{
    color: red;
}
.h4{
    color: #333;
    font-size: larger;
}

/* Responsive Styles */
@media (min-width: 768px) {
    .package {
        flex: 1;
        max-width: calc(33.333% - 20px);
    }
}
